<div class="card m-3">
  <div class="innerWrapper row w-100 g-0">
    <!-- Top Cards -->
    <div class="topCards p-2">
      
      <div class="card card-body p-4">
        <h5>Total Revenue</h5>
        <h3>{{ totalRevenue | currency }}</h3>
      </div>
      <div class="card card-body p-4">
        <h5>Approved Posts</h5>
        <h3>{{ approvedPosts }}</h3>
      </div>
      <div class="card card-body p-4">
        <h5>Active Campaigns</h5>
        <h3>{{ activeCampaigns }}</h3>
      </div>
    </div>

    <!--  Social Media Section -->

    <div class="card text-center col-md-4">
      <div class="card-header">
        <img
          class="logo"
          width="100px"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png"
          alt="Instagram"
        />
      </div>
      <div class="card-body">
        <div class="socials col-md-4">
          <div class="details">
            <div class="inputFields">
              <div class="mx-2 my-1 d-flex">
                <label for="instagram" class="d-flex align-items-center"
                  >Username</label
                >
                <input
                  name="instagram"
                  type="text"
                  [(ngModel)]="socialMedia.instagram.username"
                  [disabled]="!isInstagramEditing"
                />
              </div>
              <div class="mx-2 my-1 d-flex">
                <label for="instagram" class="d-flex align-items-center"
                  >Password</label
                >
                <input
                  name="instagram"
                  type="password"
                  [(ngModel)]="socialMedia.instagram.password"
                  [disabled]="!isInstagramEditing"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted align-self-end">
        <div class="d-flex align-items-center ">
          <div *ngIf="!isInstagramEditing" >
            <button type="button" class="btn btn-danger btn-rounded" (click)="onEditIconClick()" mdbRipple>
               <i class="far fa-pen-to-square cursor-pointer"></i> Edit
            </button>

            
          </div>
          <div *ngIf="isInstagramEditing" >
            <button type="button" class="btn btn-success btn-rounded" mdbRipple (click)="onSaveIconClick()"><i class="fas fa-check cursor-pointer"></i> Save</button>
            
          </div>
        </div>
      </div>
    </div>

    <!-- Revenue Chart Section -->
    <div class="chart col-md-8">
      <div class="card-body chartInner">
        <canvas
          baseChart
          [type]="'bar'"
          [datasets]="revenueChartData"
          [labels]="revenueChartLabels"
          [options]="revenueChartOptions"
          [legend]="chartLegend"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
