th,
td {
  text-align: center;
  word-wrap: break-word;
}

th {
  text-align: center;
}

td {
  min-width: 120px;
  max-width: fit-content;
}

/* Custom CSS for horizontal scrolling */
.overflow-auto {
  overflow-x: auto;
}

@media (max-width: 576px) {
  .container {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: 340px;
  }
}
