/* Custom styles for the form */
.title {
    padding: 20px;
    text-align: center;
    color: #333;
    font-size: 24px;
  }
  
  label {
    font-weight: 500;
    margin-left: 15px;
    padding-bottom: 5px;
    color: #4caf50;
    font-size: 16px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  select {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 14px;
  }
  
  .total {
    font-size: 24px;
    font-weight: 600;
  }

  
  img{
    width: inherit;
  }