<div class="container-fluid">
  <div class="container">
    <div class="row mx-2">
      <div class="row back-relative"></div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-2">
        <div class="mt-4">
          <h3 class="profile-heading mt-4">Select an image</h3>

          <img
            class="flag-image"
            [src]="previewImage || '../../../../assets/image/signup.jpeg'"
            alt="Campaign Image"
          />
          <input
            type="file"
            (change)="onFileSelected($event)"
            accept="image/*"
            class="mt-3 form-control"
          />
        </div>
      </div>

      <div class="col-md-6">
        <h3 class="profile-heading mt-4">Start a Campaign</h3>
        <form [formGroup]="campaignForm" (ngSubmit)="createCampaign()">
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="mb-3">
                <label for="campaignNameInput" class="form-label"
                  >Campaign Name</label
                >
                <input
                  type="text"
                  id="campaignNameInput"
                  formControlName="campaignName"
                  class="form-control"
                  placeholder="Campaign Name"
                />
                <div
                  *ngIf="
                    campaignForm.get('campaignName')?.invalid &&
                    (campaignForm.get('campaignName')?.dirty ||
                      campaignForm.get('campaignName')?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="campaignForm.get('campaignName')?.errors?.['required']"
                  >
                    Campaign name is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="budgetInput" class="form-label"
                  >Campaign Budget</label
                >
                <input
                  type="number"
                  id="budgetInput"
                  formControlName="budget"
                  class="form-control"
                  placeholder="Budget (in USD)"
                />
                <div
                  *ngIf="
                    campaignForm.get('budget')?.invalid &&
                    (campaignForm.get('budget')?.dirty ||
                      campaignForm.get('budget')?.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="campaignForm.get('budget')?.errors?.['required']">
                    Budget is required.
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="platformSelect" class="form-label"
                  >Social Media Platform</label
                >
                <select
                  formControlName="platform"
                  class="form-control"
                  id="platformSelect"
                >
                  <option value="" disabled>Select a platform</option>
                  <option value="facebook">Facebook</option>
                  <option value="instagram">Instagram</option>
                  <option value="twitter">Twitter</option>
                </select>
              </div>
            </div>

            <!-- Text Area for Campaign Description -->
            <div class="col-md-12">
              <div class="mb-3">
                <label for="campaignDescription" class="form-label"
                  >Campaign Description</label
                >
                <textarea
                  id="campaignDescription"
                  formControlName="description"
                  class="form-control"
                  rows="4"
                  placeholder="Write a description for your campaign"
                ></textarea>
                <div
                  *ngIf="
                    campaignForm.get('description')?.invalid &&
                    (campaignForm.get('description')?.dirty ||
                      campaignForm.get('description')?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="campaignForm.get('description')?.errors?.['required']"
                  >
                    Description is required.
                  </div>
                </div>
              </div>
            </div>

            <div class="row d-flex">
              <div class="col-md-12">
                <label for="startDateInput" class="form-label"
                  >Start Date</label
                >
                <input
                  type="date"
                  id="startDateInput"
                  formControlName="startDate"
                  class="form-control"
                />
              </div>

              <div class="col-md-12">
                <label for="endDateInput" class="form-label">End Date</label>
                <input
                  type="date"
                  id="endDateInput"
                  formControlName="endDate"
                  class="form-control"
                />
              </div>
            </div>

            <div class="px-5">
              <button
                type="submit"
                class="btn text-white mt-3 shadow-lg"
                [disabled]="campaignForm.invalid"
              >
                Create Campaign
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
