<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand me-2">
     <img src="../../../../assets/image/logo.jpg" alt="">
    </a>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">ConnectLocal</a>
      </li>
    </ul>

    <div class="d-flex align-items-center">
      <ng-container *ngIf="isLoggedIn">
        <button
          type="button"
          class="btn btn-danger me-3"
          (click)="logOutButtonClicked()"
          mdbTooltip="SignOut"
        >
          <i class="fas fa-sign-out-alt"></i>
        </button>
      </ng-container>
    </div>
  </div>
</nav>
