<div class="card m-3">
  <div class="innerWrapper row w-100 g-0">
    <!-- Top Cards -->
    <div class="topCards p-2">
      <div class="card card-body">
        <h5>Total Expenditure</h5>
        <h3>{{ totalExpense | currency }}</h3>
      </div>
      <div class="card card-body">
        <h5>Unique Agents</h5>
        <h3>{{ uniqueAgents }}</h3>
      </div>
      <div class="card card-body">
        <h5>Active Campaigns</h5>
        <h3>{{ activeCampaigns }}</h3>
      </div>
    </div>


    <!--  Social Media Section -->

    <div class=" social card text-center col-md-4">
      <div class="card-header">
        <img
          class="logo"
          src="../../../../../assets/image/home_image.jpg"
          alt="Instagram"
        />
      </div>
    
   
    </div>


   

    <!-- Revenue Chart Section -->
    <div class="chart col-md-8">
      <div class="card-body chartInner">
        <canvas
          baseChart
          [type]="'bar'"
          [datasets]="revenueChartData"
          [labels]="revenueChartLabels"
          [options]="revenueChartOptions"
          [legend]="chartLegend"
        ></canvas>
      </div>
    </div>
  </div>
</div>
