.innerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }
  
  .innerWrapper .feedbackButton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: fit-content;
  }
  
  /* Top Cards Section */
  .topCards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    gap: 20px;
  
    .card {
      width: 30%;
      padding: 10px;
      background-color: #f9f9f9;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
  
      h5 {
        font-size: 16px;
        margin-bottom: 5px;
        color: #4caf50;
      }
  
      h3 {
        font-size: 24px;
        margin-top: 0;
        color: #333;
      }
    }
  }

  
  .social .card-header img {
    max-width: 400px;
    border-radius: 20px;
  }
  
  
  
  
  
  
  
  .chart .chartInner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chart .chartInner canvas {
    width: clamp(200px, 350px, 400px) !important;
    max-width: 400px;
    max-height: 400px;
  }
  
  @media screen and (max-width: 768px) {
    canvas {
      max-width: 400px;
      max-height: 400px;
    }
  }
  